

//--------------------------------
// Variables
//--------------------------------

$base-font-size: 16px;

$app-background: linear-gradient(to left, #5F9EA0, #90EE90);
$background-name-color: #fff;
$form-container: rgba(9,9,9,0.4);

$form-btn: #5F9EA0;
$form-btn-hover: #90EE90;

//--------------------------------
// Functions and Mixins
//--------------------------------

@function em($tar, $cxt:$base-font-size){
 @return ($tar / $cxt) * 1em;
}

@mixin center(){
  margin-right:auto;
  margin-left:auto;
}