<petition-background></petition-background>

<section class="l-app-form">

    <div class="signup-form-container">
        <h1 class="form-header">Signup Form</h1>
        <form class="signup-form" action="">
            <fieldset class="signup-form__set">
                <input class="signup-form__ipt" type="text" name="first_name" placeholder="First Name"><br>
                <input class="signup-form__ipt" type="text" name="last_name" placeholder="Last Name"><br>
                <input class="signup-form__ipt" type="text" name="email" placeholder="e-mail"><br>
            </fieldset>
            <input class="signup-form__btn" type="submit" value="Submit">
        </form>
    </div>

</section>
